@page "/mojekvizy"
@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using FRI_Quiz_Bakalarska_Praca.Data.Model
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbFactory
<AuthorizeView>
    <Authorized>
        <!--<Table>
            <TableHeader>
                <TableHeaderCell>Quiz</TableHeaderCell>
                <TableHeaderCell>Otazky</TableHeaderCell>
            </TableHeader>
            <TableBody>
                @foreach (var quiz in quizzes)
                {
                    <TableRowCell>@quiz.QuizName</TableRowCell>
                    @foreach (var question in quiz.Questions)
                    {
                        <TableRowCell>@question.Text</TableRowCell>
                        @foreach (var answer in question.Answers)
                        {
                            <TableRowCell>@answer.Text</TableRowCell>
                        }
                    }
                }
                
            </TableBody>
        </Table>-->

        <Accordion>
            @foreach (var quiz in quizzes)
            {
                <Collapse Visible="@collapseVisible">
                    <CollapseHeader>
                        <Heading Size="HeadingSize.Is5">
                            <AccordionToggle Width="Width.Is25">@quiz.QuizName</AccordionToggle>
                            <AccordionToggle Class="disabled"> Pocet bodov: </AccordionToggle>
                        </Heading>
                        </CollapseHeader>
                        <CollapseBody Height="Height.Is25" Background="Background.Default">
                            @foreach (var question in quiz.Questions)
                            {
                                <div>
                                    <header>Otazka - @question.Text</header>
                                </div>
                                <CollapseBody> 
                                    @foreach (var answer in question.Answers)
                                    {
                                         <div class="question-box">
                                            <div class="question-order">
                                            <div class="paddng-between-answer"># @answer.Order</div>
                                                <div>@answer.Text</div>
                                            </div>
                                            <div>
                                                <input type="checkbox">
                                            </div>
                                        </div>
                                        <br />
                                    }
                                    
                                </CollapseBody>
                            }
                        </CollapseBody>             
                </Collapse>
            }
    
        </Accordion>
    </Authorized>
    <NotAuthorized>
        <Heading>
            Na zobrazenie vám priradených kvízov sa prosím prihláste.
            <br />
            <a href="/login">Prihlásiť sa</a>
        </Heading>
    </NotAuthorized>
</AuthorizeView>
    <!--
    <Collapse Visible="@collapse2Visible">
        <CollapseHeader>
            <Heading Size="HeadingSize.Is5">
                <AccordionToggle>Kviz 2</AccordionToggle>
                <AccordionToggle Class="disabled"> Pocet bodov: 0/1</AccordionToggle>
            </Heading>
        </CollapseHeader>
        <CollapseBody>
            Otazka 1: What fictional place would you most like to go to?
        </CollapseBody>
    </Collapse>
    <Collapse Visible="@collapse3Visible">
        <CollapseHeader>
            <Heading Size="HeadingSize.Is5">
                <AccordionToggle>VAII kviz prednaska 4</AccordionToggle>
                <AccordionToggle Class="disabled"> Pocet bodov: 2/3</AccordionToggle>
            </Heading>
        </CollapseHeader>
        <CollapseBody>
            1: Naco pouzivame HTML?
            
            
        </CollapseBody>
        
        <CollapseBody>
            
            2: Naco pozuivame CSS?

        </CollapseBody>
        <CollapseBody>

            3: kafanhfouqbfoqnbfiphqwevfouqbdno;qfb vjwkvdilqbk.

        </CollapseBody>
    </Collapse>
    -->


@code {
    //TODO 1.3 Dokoncit zobrazenie kvizov, accordion nefunguje, nacitanie kvizov neobsahuje otazky - treba pozriet DB
    private bool collapseVisible = false;

    private List<Quiz> quizzes = new List<Quiz>();
    private bool checkbox;

    protected override async Task OnInitializedAsync()
    {
        using var dbContext = DbFactory.CreateDbContext();

        quizzes = await dbContext.Kvizy
        .Include(Kvizy => Kvizy.Questions)
        .ThenInclude(Otazky => Otazky.Answers)
        .ToListAsync();
        /*foreach (var quiz in quizzes)
        {
            List<Question> questions = new List<Question>();
            questions.Add(await dbContext.Otazky.FindAsync(quiz.Id));
            foreach (var question in questions)
            {
                question.Answers.Add(dbContext.Odpovede.Find(question.Id));    
            } 
        }*/
        await base.OnInitializedAsync();
    }
}