@page "/mojekvizy"
@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using FRI_Quiz_Bakalarska_Praca.Data.Model
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbFactory
<AuthorizeView>
    <Authorized>    
        @if (liveQuizzes.Count() < 1)
        {
        <Div Class="list-quiz-active">
            <Heading>Vaše aktívne kvízy</Heading>
            <br />
        </Div>
        
            <Div>
                <Heading>Aktúalne nie sú aktívne žiadne kvízy, pre aktivovanie kvízu prosím naskenujte QR kód</Heading>
                <Button Class="btn btn-primary" Type="ButtonType.Link" To="/QRCode">QR kód sken</Button>
            </Div>
        } 
        else
        {
            <Accordion Height="Height.Is50">
            @foreach (var quiz in liveQuizzes)
            {
                <Collapse Visible="@collapseVisible">
                    <CollapseHeader>
                        <Heading Size="HeadingSize.Is5">
                            <AccordionToggle Width="Width.Is25">@quiz.QuizName</AccordionToggle>
                            <AccordionToggle Class="disabled"> Pocet bodov: 0/@GetNumberOfMaxPoints()</AccordionToggle>
                        </Heading>
                    </CollapseHeader>
                    <CollapseBody Height="Height.Is25" Background="Background.Default">
                        @foreach (var question in quiz.Questions)
                        {
                            <div>
                                <header>@question.Text</header>
                            </div>
                            <CollapseBody> 
                                @foreach (var answer in question.Answers)
                                {
                                        <div class="question-box">
                                        <div class="question-order">
                                        <div class="paddng-between-answer"># @answer.Order</div>
                                            <div>@answer.Text</div>
                                        </div>
                                        <div>
                                            <input type="checkbox">
                                        </div>
                                    </div>
                                    <br />
                                }
                            </CollapseBody>
                        }
                    </CollapseBody>             
                </Collapse>
            }
            </Accordion>
           
        }
        <Div Class="list-quiz-all">
            <Heading>Zoznam ostatných kvízov</Heading>
        </Div>
        <Accordion>
            @foreach (var quiz in quizzes)
            {              
                <Card Width="Width.Is50" Background="Background.Transparent" Shadow="Shadow.Small">
                    <CardBody>
                        <CardTitle>@quiz.QuizName</CardTitle>
                            <CardText>Počet otázok: @quiz.Questions.Count()</CardText>
                        </CardBody>
                </Card>
            }

        </Accordion>
        </Authorized>

        
    <NotAuthorized>
        <Heading TextAlignment="TextAlignment.Center">
            Na zobrazenie vám priradených kvízov sa prosím prihláste.
            <br />
            <div>
                <a class="oi oi-account-login link-login" href="/login"> Prihlásiť sa</a>
            </div>
        </Heading>
    </NotAuthorized>
</AuthorizeView>


@code {
    //TODO 2.2 - Zobrazenie kvizov len nacitanych podla QR kodu - nutne dorobenie kvizov predtym   
    private bool collapseVisible = false;
    private List<Quiz> quizzes = new List<Quiz>();
    private List<Quiz> liveQuizzes = new List<Quiz>() { };

    protected override async Task OnInitializedAsync()
    {
        using var dbContext = DbFactory.CreateDbContext();

        quizzes = await dbContext.Quizzes
        .Include(Quiz => Quiz.Questions)
        .ThenInclude(Question => Question.Answers)
        .ToListAsync();
        quizzes = GetLiveQuizzes();
        await base.OnInitializedAsync();
    }
    private int GetNumberOfMaxPoints()
    {
        int points = 0;
        foreach (var quiz in quizzes)
        {
            points += quiz.QuestionCount;            
        }
        return points;
    }

    private List<Quiz> GetLiveQuizzes()
    {
        List<Quiz> tempQuizzes = new List<Quiz>() { };
        foreach (var quiz in quizzes)
        {
            if (quiz.DateFrom > DateTime.Now && quiz.DateTo < DateTime.Now)
            {
                liveQuizzes.Add(quiz);
            } else
            {
                tempQuizzes.Add(quiz);
            }
        }
        return tempQuizzes;
    }
}