@page "/mojekvizy"
@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using FRI_Quiz_Bakalarska_Praca.Data.Model
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbFactory
<AuthorizeView>
    <Authorized>     
        <Div Class="list-quiz-active">
            <Heading>Vaše aktívne kvízy</Heading>
        </Div>
        <Accordion Height="Height.Is50">
            @foreach (var quiz in quizzes)
            {
                <Collapse Visible="@collapseVisible">
                    <CollapseHeader>
                        <Heading Size="HeadingSize.Is5">
                            <AccordionToggle Width="Width.Is25">@quiz.QuizName</AccordionToggle>
                            <AccordionToggle Class="disabled"> Pocet bodov: 0/@GetNumberOfMaxPoints()</AccordionToggle>
                        </Heading>
                    </CollapseHeader>
                    <CollapseBody Height="Height.Is25" Background="Background.Default">
                        @foreach (var question in quiz.Questions)
                        {
                            <div>
                                <header>@question.Text</header>
                            </div>
                            <CollapseBody> 
                                @foreach (var answer in question.Answers)
                                {
                                        <div class="question-box">
                                        <div class="question-order">
                                        <div class="paddng-between-answer"># @answer.Order</div>
                                            <div>@answer.Text</div>
                                        </div>
                                        <div>
                                            <input type="checkbox">
                                        </div>
                                    </div>
                                    <br />
                                }
                            </CollapseBody>
                        }
                    </CollapseBody>             
                </Collapse>
            }
        </Accordion>
        <Div Class="list-quiz-all">
            <Heading>Zoznam kvízov</Heading>
        </Div>
        <Accordion >
            @foreach (var quiz in quizzes)
            {
                <CollapseHeader>
                    <Heading Size="HeadingSize.Is5">
                        <AccordionToggle Width="Width.Is25">@quiz.QuizName</AccordionToggle>
                    </Heading>
                </CollapseHeader>
            }
 
        </Accordion>
    </Authorized>
    <NotAuthorized>
        <Heading TextAlignment="TextAlignment.Center">
            Na zobrazenie vám priradených kvízov sa prosím prihláste.
            <br />
            <div>
                <a class="oi oi-account-login link-login" href="/login"> Prihlásiť sa</a>
            </div>
        </Heading>
    </NotAuthorized>
</AuthorizeView>


@code {
    //TODO 2.2 - Zobrazenie kvizov len nacitanych podla QR kodu - nutne dorobenie kvizov predtym   
    private bool collapseVisible = false;
    private List<Quiz> quizzes = new List<Quiz>();

    protected override async Task OnInitializedAsync()
    {
        using var dbContext = DbFactory.CreateDbContext();

        quizzes = await dbContext.Quizzes
        .Include(Quiz => Quiz.Questions)
        .ThenInclude(Question => Question.Answers)
        .ToListAsync();
        await base.OnInitializedAsync();
    }
    private int GetNumberOfMaxPoints()
    {
        int points = 0;
        foreach (var quiz in quizzes)
        {
            points += quiz.QuestionCount;            
        }
        return points;
    }
}