@page "/vytvorKviz"
@using TinyMCE.Blazor;

<PageTitle>Vytvorenie Kvizu</PageTitle>

<Form>
    <div class="mb-3">
        <label class="form-label">Vyberte si typ kvizu:</label> 
      
        <br />
        <div class="form-check">
            <input type="radio" class="form-check-input livekviz" name="flexRadioDefault" id="livekviz" @onclick="ToggleDisplay" checked="@isLiveKviz" />
            <label for="livekviz" class="form-check-label pdright-2rem">Live Kvíz</label>
            <input type="radio" class="form-check-input" name="flexRadioDefault" id="normalkviz" @onclick="ToggleDisplay" checked="@(!isLiveKviz)" />
            <label for="normalkviz" class="form-check-label">Kvíz</label>
        </div>
    </div>
    <div class="users">
        <label class="form-label users-label">Pridat uzivatela: </label>
        <Field class="users-input">
                <TextEdit @bind-Text="@user" Placeholder="Pridať uživateľa"></TextEdit>
                <FieldLabel> Tu môžete zadať používateľov, ktorý budú mať prístup na editáciu kvízu</FieldLabel>
            <Validation>
                <ValidationNone>Zadajte uživateľa</ValidationNone>
                <ValidationError>Nesprávny uživateľ</ValidationError>
                <ValidationSuccess></ValidationSuccess>
            </Validation>
        </Field>
        
    </div>
    <div Class="nastaveniaCasu">
        <div class="datum">
            <label class="nastaveniaCasuText">Datum zaciatku kvizu:</label>
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <DatePicker @ref="@datePicker" TValue="DateTime?" />
                </Addon>
            </Addons>
        </div>
        <div class="datum">
            <label class="nastaveniaCasuText">Datum konca kvizu:</label>
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <DatePicker @ref="@datePicker" TValue="DateTime?" />
                </Addon>
            </Addons>
        </div>
    </div>
    <div class="nastaveniaCasu">
        <div class="casOd">
            <label class="nastaveniaCasuText">Zaciatok: </label>
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TimePicker @ref="@timePicker" TValue="TimeSpan?" />
                </Addon>
            </Addons>
        </div>
        <div class="casDo">
            <label class="nastaveniaCasuText">Koniec:</label>
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TimePicker @ref="@timePicker" TValue="TimeSpan?" />
                </Addon>
            </Addons>
        </div>
       
    </div>
    <div class="mb-3">
        <label class="form-label">Nazov kvizu:</label>
        <input type="text" class="form-control" id="idKvizu">
    </div>
    @if (isLiveKviz)
    {
    <div class="mb-3">
        <label class="form-label">Text otazky...</label>
        <Editor Conf="@textConf"></Editor>
        
    </div>

    <div class="odpovede-container">
        <label>Zadajte odpovede</label>
        <div class="odpoved">
            <label class="form-check-label"></label>
            <Editor Conf="@odpovedeConf"></Editor>
            <input type="checkbox" class="form-check odpoved-checkbox"/>
        </div>
        <div class="odpoved">
            <label class="form-check-label"></label>
            <Editor Conf="@odpovedeConf" />
            <input type="checkbox" class="form-check odpoved-checkbox" />
        </div>
        <div class="odpoved">
            <label class="form-check-label"></label>
            <Editor Conf="@odpovedeConf" />
            <input type="checkbox" class="form-check odpoved-checkbox" />
        </div>
        <div class="odpoved">
            <label class="form-check-label"></label>
            <Editor Conf="@odpovedeConf" />
            <input type="checkbox" class="form-check odpoved-checkbox" />
        </div>

    </div>
        <div>
            <button type="submit" class="btn btn-primary livekviz-button">Submit</button>
            <button type="submit" class="btn btn-primary livekviz-button"> Add</button>
        </div>


    }

    else
    {
        <div class="mb-1">
            <label>Po pridani otazky sa zobrazi tabulka/form otazok -> zatial nebudem robit pretoze bude treba databaza </label>
            <!--TODO: 1.0 DATABAZA otazok-->

        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</Form>
@code {
    private string user = string.Empty;
    private bool isLiveKviz = true;
    private void ToggleDisplay()
    {
        isLiveKviz = !isLiveKviz;
    }
    TimePicker<TimeSpan?> ?timePicker;
    DatePicker<DateTime?> ?datePicker;
    

    private Dictionary<string, object> odpovedeConf = new Dictionary<string, object>{
   {"plugins", "autolink media link image emoticons table paste"},
        {"toolbar", "undo redo | styles | bold italic underline | table | link image paste "},
        {"paste_data_images", "true"},
        {"height", "250px"},
        {"automatic_uploads", true },
        {"images_upload_url", "/UploadImage/"}
    };


    private Dictionary<string, object> textConf = new Dictionary<string, object>{
   {"plugins", "autolink media link image emoticons table paste"},
        {"toolbar", "undo redo | styles | bold italic underline | table | link image paste "},
        {"paste_data_images", "true"},
        {"width", "80%"},
        {"height", "200px"},
        {"automatic_uploads", true },
        {"images_upload_url", "/UploadImage/"}
  };

}
