@page "/vytvorKviz"

@using FRI_Quiz_Bakalarska_Praca.Data
@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using FRI_Quiz_Bakalarska_Praca.Data.Model
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using TinyMCE.Blazor;
@inject AuthenticationStateProvider AuthProvider
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject UserManager<User> Usermanager
<PageTitle>Vytvorenie Kvizu</PageTitle>

<div>
    <div class="left_side_quiz">
        <Validations @ref="quizValidation" Mode="ValidationMode.Auto" ValidateOnLoad="true">
            <EditForm id="QuizId" Model="@newQuiz" OnValidSubmit="SubmitQuiz">
                <div class="mb-3">
                    <label class="form-label">Vyberte si typ kvizu:</label>      
                    <br />
                    <div class="form-check">
                        <input type="radio" class="form-check-input livekviz" name="flexRadioDefault" id="livekviz" @onclick="ToggleDisplay" checked="@isLiveKviz" />
                        <label for="livekviz" class="form-check-label pdright-2rem">Live Kvíz</label>
                        <input type="radio" class="form-check-input" name="flexRadioDefault" id="normalkviz" @onclick="ToggleDisplay" checked="@(!isLiveKviz)" />
                        <label for="normalkviz" class="form-check-label">Kvíz</label>
                    </div>
                </div>
                <div class="users">
                    <label class="form-label users-label">Pridat uzivatela: </label>
                    <Field class="users-input" >               
                        <TextEdit></TextEdit>
                        <FieldLabel TextSize="TextSize.Small">Tu môžete zadať používateľov, ktorý budú mať prístup na editáciu kvízu</FieldLabel>
                    </Field>
                </div>
                <div class="nastaveniaCasu">
                    <div class="datum">
                        <label class="nastaveniaCasuText">Dátum pre kvíz:</label>
                        <Addons>         
                            <Addon AddonType="AddonType.Body">
                                <DatePicker @bind-Dates="@dates" @ref="@datePicker" Date="null" Min="DateTime.Now"
                                SelectionMode="DateInputSelectionMode.Range" DisplayFormat="j/n/Y" Placeholder="DD/MM/YYYY" />
                            </Addon>                                                                                 
                        </Addons>
                    </div>
                </div>
                <div class="nastaveniaCasu">
                    <div class="casOd">
                        <label class="nastaveniaCasuText">Zaciatok: </label>
                        <Addons>
                            <Validation Validator="ValidationRule.IsSelected">
                                <Addon AddonType="AddonType.Body">
                                    <TimeEdit @bind-Time="@timeFrom" @ref="@timePicker" Min="DateTime.Now.TimeOfDay" TValue="TimeSpan?" />     
                                </Addon>
                            <ValidationError>Musíte zadať čas</ValidationError>
                            </Validation>
                        </Addons>
                    </div>
                    <div class="casDo">
                        <label class="nastaveniaCasuText">Koniec: </label>
                        <Addons>                            
                            <Addon AddonType="AddonType.Body">
                                <TimeEdit @bind-Time="@timeTo" @ref="@timePicker" Min="@timeFrom" TValue="TimeSpan?" />  
                            </Addon>                               
                        </Addons>  
                    </div>    
                </div>
                
                <div class="mb-3">
                    <label class="nazov-label">Nazov kvízu</label>                      
                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <TextEdit @bind-Text="newQuiz.QuizName" class="form-label" ></TextEdit>
                        <ValidationError>Nezadali ste názov kvízu</ValidationError>
                    </Validation>               
                </div>
            </EditForm>
        </Validations>
    </div>
    <div class="rigt_side_quiz">
        <Table Hoverable>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Otazka</TableHeaderCell>
                    <TableHeaderCell>Nazov</TableHeaderCell>
                    <TableHeaderCell></TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (var question in questions)
                {
                <TableRow>
                    <TableRowHeader>@question.Order</TableRowHeader>
                    <TableRowCell>@(question.Text.Length > 20 ? question.Text.Substring(0, 20) + "..." : question.Text)</TableRowCell>
                    <TableRowCell><Button Class="btn-secondary">Edit</Button></TableRowCell>
                </TableRow>
                }        
            </TableBody>
        </Table>
    </div>
    <div class="left-side-quiz">
        <EditForm id="QuestionForm" Model="@questions" OnInvalidSubmit="SubmitQuestion">
            @foreach (var question in questions) 
                {
                <div class="mb-3">
                    <label class="form-label">Otázka</label>
                <Editor @bind-Text="question.Text" Field="@(() => question.Text)" Conf="@textConf"></Editor>
                </div>
                <div>
                    <button type="submit" class="btn btn-danger" @onclick="() => DeleteQuestion(question)">Odstrániť otázku</button>
                </div>
                <div class="odpovede-container">
                    <label>Zadajte odpovede</label>
                    @foreach (var answer in question.Answers)
                    {
                    <div class="odpoved">
                        <label class="form-check-label"></label>
                        <Editor @bind-Text="answer.Text" Field="() => answer.Text" Conf="@odpovedeConf"></Editor>
                        <div>
                            <label class="odpoved-label">Spravna</label>
                            <input @bind="answer.Correct" type="checkbox" class="form-check odpoved-checkbox" />
                        </div>
                    </div>                    
                    }
                    <div>
                        <br />
                        <button type="submit" class="btn btn-success" @onclick="() => AddAnswer(question)" disabled="@AnswersMaxCount(question)">Pridať odpoveď</button>
                        @if (question.Answers.Count < 2)
                        { } else
                        {
                            <button type="submit" class="btn btn-danger" @onclick="() => DeleteAnswer(question)">Odstrániť odpoveď</button>
                        }
                        @if (@AnswersMaxCount(question))
                        {
                            <label class="max-answers-color">Nie je možné pridať viac odpovedí</label>
                        }
                    </div>
                </div>
            }                   
        </EditForm>
    </div>
    <div class="buttons_group_quiz">        
        <button type="submit" form="QuizId" class="btn btn-primary">@(!OnceSubmit ? "Pridať kvíz" : "Update kvízu")</button>
        <button type="submit" class="btn btn-success" @onclick="AddQuestion">Pridať otázku</button>
        <button type="reset" class="btn btn-danger" @onclick="ResetForm">Nový kvíz</button>
    </div>
</div>

@code {
    #region Fields 
    private Quiz newQuiz = new Quiz();
    private List<Question> questions = new List<Question>() { };
    private bool isLiveKviz = true;
    private IReadOnlyList<DateTime?> dates = new List<DateTime?>() { };
    private TimeSpan? timeFrom;
    private TimeSpan? timeTo;
    private DatePicker<DateTime?>? datePicker;
    private TimeEdit<TimeSpan?>? timePicker;
    private Validations? quizValidation;
    private bool OnceSubmit = false;
    private int correctAnswersNumbers;
    #endregion Fields

    #region HelpMethods
    //TODO 2.0 - Vytvorenie zgrupovania otazok pri livekvize - moznost nastavenia si otazok do groupy
    //              ktore budu spolu a budu sa otvarat jednym QR kodom

    //TODO 2.1 - Autocomplete na uzivatelov z uniza.sk domeny - doplnanie uzivatelov podla zadavaneho emailu 
    //              Pravdepodone autocomplete staci aby ukazal meno, nie email - dohoda
    private bool SetDates()
    {
        if (dates.Count < 1 ||  dates[0] == null || timeFrom == null)
        {
            return false;
        } else
        {
            newQuiz.DateFrom = dates[0] + timeFrom;
            if (dates.Count < 2)
            {
                if (timeTo == null)
                {
                    timeTo = DateTime.Today.AddTicks(TimeSpan.TicksPerDay - 1).TimeOfDay;
                }
                newQuiz.DateTo = dates[0] + timeTo;
            }
            else
            {
                if (timeTo == null)
                {
                    timeTo = dates[1].Value.AddTicks(TimeSpan.TicksPerDay - 1).TimeOfDay;
                }
                newQuiz.DateTo = dates[1] + timeTo;
            }
            return true;
        }
    }

    private bool AnswersMaxCount(Question question)
    {
        return question.Answers.Count >= 6 ? true : false;
    }

    private void ToggleDisplay()
    {
        isLiveKviz = !isLiveKviz;
    }

    protected override void OnInitialized()
    {
        AddQuestion();
        AddAnswer(questions[0]);
    }
    private void ResetForm()
    {

        newQuiz = new Quiz();
        questions = new List<Question>() { };
        AddQuestion();
        dates = new List<DateTime?>();
        timeFrom = null;
        timeTo = null;
        datePicker = null;
        timePicker = null;
        OnceSubmit = false;
        correctAnswersNumbers = 0;
        questions[0].Order = 1;
        AddAnswer(questions[0]);
    }

    #endregion HelpMethods

    #region QuizMethods
    private async Task SubmitQuiz()
    {
        using var dbContext = DbFactory.CreateDbContext();
        if (!SetDates())
        {
            return;
        } 
        if (isLiveKviz)
        {
            newQuiz.Type = TypKvizu.livekviz;
        }
        else
        {
            newQuiz.Type = TypKvizu.kviz;
        }
        if (!OnceSubmit)
        {
            /*Insert kviz to DB
            SubmitQuestion metoda - z otazkok vytiahnut odpovede cez foreach a insert into DB
            Priradit odpovede k otazkam, nasledne insert into DB
            Update question v DB
            Update kviz v DB
            */

            //TODO 1.7 Prerobit usera, ktory je prihlaseny aby bol owner kvizu
            await SubmitQuestion();
            newQuiz.User = await dbContext.Users.FindAsync(1);
            await dbContext.Quizzes.AddAsync(newQuiz);
            OnceSubmit = true;
            await dbContext.SaveChangesAsync();
        } else
        {
            await SubmitQuestion();
            dbContext.Quizzes.Update(newQuiz);
            await dbContext.SaveChangesAsync();
        }
    }

    #endregion QuizMethods

    #region QuestionMethods

    private void AddQuestion() {
        using var dbContext = DbFactory.CreateDbContext();
        Question tempQuestion = new Question();

        tempQuestion.Order = questions.Count + 1;
        /*if (!dbContext.Otazky.Local.Any(a => a.Id == tempQuestion.Id))
        {
            dbContext.Otazky.Attach(tempQuestion);
        }*/
        questions.Add(tempQuestion);
    }

    private async Task SubmitQuestion()
    {
        using var dbContext = DbFactory.CreateDbContext();
        try
        {
            foreach (var question in questions)
            {                   
                question.QuizRef = newQuiz;
                newQuiz.Questions.Add(question);           
            }
        } catch (Exception ex)
        {
            throw;
        }

    }
    private void DeleteQuestion(Question question)
    {
        question.Answers.Clear();
        questions.Remove(question);
    }

    #endregion QuestionMethods
    #region AnswerMethods

    private void AddAnswer(Question question)
    {
        using var dbContext = DbFactory.CreateDbContext();
        Answer tempAnswer = new Answer();
        tempAnswer.Question = question;
        tempAnswer.Order = question.Answers.Count + 1;
        
        /*if (!dbContext.Odpovede.Local.Any(a => a.Id == tempAnswer.Id))
        {
            dbContext.Odpovede.Attach(tempAnswer);
        }*/
        question.Answers.Add(tempAnswer);
        
    }

    private void DeleteAnswer(Question question)
    {        
        if (question.Answers.Count - 1 < 1)
        {
            return;
        } else
        {
            question.Answers.RemoveAt(question.Answers.Count - 1);  
        }
    }

    #endregion AnswerMethods

    #region TinyMCE
    private Dictionary<string, object> odpovedeConf = new Dictionary<string, object>{
        {"plugins", "autolink media link image emoticons table"},
        {"menubar", false },
        {"toolbar", "undo redo | styles | bold italic underline | table | link image paste "},
        {"paste_data_images", "true"},
        {"height", "250px"},
        {"automatic_uploads", true },
        {"images_upload_url", "/Image"}
    };

    private Dictionary<string, object> textConf = new Dictionary<string, object>{
        {"menubar", false },
        {"plugins", "autolink media link image emoticons table"},
        {"toolbar", "undo redo | styles | bold italic underline | table link image "},
        {"paste_data_images", "true"},     
        {"width", "60%"},
        {"height", "200px"},
        {"automatic_uploads", true },
        {"images_upload_url", "/Image"}
    };
    #endregion TinyMCE

}
