@page "/vytvorKviz"
@using TinyMCE.Blazor;
<PageTitle>Vytvorenie Kvizu</PageTitle>

<form>
    <div class="mb-3">
        <label class="form-label">Vyberte si typ kvizu:</label>
        <br />
        <div class="form-check">
            <input type="radio" class="form-check-input livekviz" name="flexRadioDefault" id="livekviz" @onclick="ToggleDisplay" checked="@isLiveKviz" />
            <label for="livekviz" class="form-check-label pdright-2rem">Live Kvíz</label>
            <input type="radio" class="form-check-input" name="flexRadioDefault" id="normalkviz" @onclick="ToggleDisplay" checked="@(!isLiveKviz)" />
            <label for="normalkviz" class="form-check-label">Kvíz</label>
        </div>
    </div>

    <div Class="nastaveniaCasu">
        <div class="datum">
            <label class="nastaveniaCasuText">Datum:</label>
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <DatePicker @ref="@datePicker" TValue="DateTime?" />
                </Addon>
            </Addons>
        </div>
        
        <div class="casOd">
            <label class="nastaveniaCasuText">Zaciatok: </label>
            <Addons>
                <Addon AddonType="AddonType.Body">
                <TimePicker @ref="@timePicker" TValue="TimeSpan?" />
                </Addon>
            </Addons>
        </div>

        <div class="casDo">
            <label class="nastaveniaCasuText">Koniec:</label>
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TimePicker @ref="@timePicker" TValue="TimeSpan?" />
                </Addon>
            </Addons>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Nazov kvizu:</label>
        <input type="text" class="form-control" id="idKvizu">
    </div>
   
    <div class="mb-3">
        <label class="form-label">Text otazky...</label>
        <!--<Editor />-->
        <textarea type="text" class="form-control" id="otazka"></textarea>
    </div>

    <div class="odpovede-container">
        <label>Zadajte odpovede</label>
        <div class="odpoved">
            <label class="form-check-label"></label>
            <textarea type="text" class="form-text" />
            <input type="checkbox" class="form-check odpoved-checkbox"/>
        </div>
        <div class="odpoved">
            <label class="form-check-label"></label>
            <textarea type="text" class="form-text" />
            <input type="checkbox" class="form-check odpoved-checkbox" />
        </div>
        <div class="odpoved">
            <label class="form-check-label"></label>
            <textarea type="text" class="form-text" />
            <input type="checkbox" class="form-check odpoved-checkbox" />
        </div>
        <div class="odpoved">
            <label class="form-check-label"></label>
            <textarea type="text" class="form-text" />
            <input type="checkbox" class="form-check odpoved-checkbox" />
        </div>

    </div>

    @if (isLiveKviz)
    {
        <div>
            <button type="submit" class="btn btn-primary livekviz-button">Submit</button>
            <button type="submit" class="btn btn-primary livekviz-button"> Add</button>
        </div>
        <div class="mb-1">
            <label>Po pridani otazky sa zobrazi tabulka/form otazok -> zatial nebudem robit pretoze bude treba databaza </label>
            <!--TODO: 1.0 DATABAZA otazok-->

        </div>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Submit</button>
    }

    

</form>

@code {
    TimePicker<TimeSpan?> ?timePicker;
    DatePicker<DateTime?> ?datePicker;
    private bool isLiveKviz = true;
    private void ToggleDisplay()
    {
        isLiveKviz = !isLiveKviz;
    }
}
