<CascadingAuthenticationState>
    <Blazorise.ThemeProvider Theme="@colors">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </CascadingAuthenticationState>          
        </NotFound>       
    </Router>
    </Blazorise.ThemeProvider>
    <ModalProvider />
</CascadingAuthenticationState>

@code {
    private Theme colors = new Theme
        {
            BackgroundOptions = new ThemeBackgroundOptions
            {
                Success = "#EEE8AA",
                Warning = "#C0C0C0",
                Info = "#CD7F32"
            }
        };
}

