@page "/zoznamkvizov"

@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using FRI_Quiz_Bakalarska_Praca.Data.Model
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<DataGrid TItem="Quiz"
          Data="@quizzes"
          @bind-SelectedRow="@selectedQuiz"
          Editable
          Responsive
          ShowPager          
          Filterable
          FilterMethod="DataGridFilterMethod.Contains"
           CommandMode="DataGridCommandMode.ButtonRow">
     <DataGridColumns>
         <DataGridColumn Field="@nameof(Quiz.Id)" Caption="#" Sortable="false" Filterable="false" />
         <DataGridColumn Field="@nameof(Quiz.QuizName)" Caption="Názov" Editable />
         <DataGridColumn Field="@nameof(Quiz.Moderators)" DisplayFormat="" Caption="Moderátori" />
         <DataGridDateColumn Field="@nameof(Quiz.DateFrom)" Caption="Začiatok" />
         <DataGridDateColumn Field="@nameof(Quiz.DateTo)" Caption="Koniec" />
         <DataGridColumn Field="@nameof(Quiz.Type)" Caption="Typ" />
         <DataGridNumericColumn Field="@nameof(Quiz.QuestionCount)" Caption="Počet otázok" Filterable="false" />
         <DataGridColumn Filterable="false">
             
         </DataGridColumn>
    </DataGridColumns>
    <ButtonRowTemplate>
         <Button Color="Color.Primary" Disabled="(selectedQuiz is null)" Clicked="EditQuiz">Edit</Button>
         <Button Color="Color.Danger" Disabled="(selectedQuiz is null)" Clicked="context.DeleteCommand.Clicked">Delete</Button>
    </ButtonRowTemplate>
</DataGrid>
 @code {
    //TODO 2.3 - Dorobit edit, vymazanie - editcommand vlastny ktory presunie uzivatela na vytvor kviz stranku s potrebnymi parametrami daneho kvizu
    //             Vymazanie - dorobit deletecommand na vymazanie aj z datavazy - nutne aj osetrenie pri zadavani (vyskakovacie okno/nejake druhe potvrdenie)
    public Quiz? Quiz { get; set; }
    private List<Quiz> quizzes = new List<Quiz>();
    private Quiz selectedQuiz = new Quiz();

    protected override async Task OnInitializedAsync()
    {
        using var dbContext = DbFactory.CreateDbContext();
        quizzes = await dbContext.Quizzes
        .Include(Kvizy => Kvizy.Questions)
        .ThenInclude(Otazky => Otazky.Answers)
        .ToListAsync();
        await base.OnInitializedAsync();
    }
    //TODO 2.4 Podrstranka pre admina na edit livequizu na zobrazenie 
    //Histogram na zobrazenie a update tlaciko na refresh

    private void EditRow()
    {

    } 
    private async Task EditQuiz()
    {
        NavigationManager.NavigateTo("/vytvorKviz");
    }

    private async Task 
}

